package ${bean1.package_validate};

import java.util.Map;
import system.web.validate.model.ValidateResultModel;
import system.web.validate.model.ValidateFieldModel;
import system.web.JWeb;
import system.web.validate.model.ValidateModel;

public class ${bean1.name_bean}Validate extends ValidateModel {

    public ${bean1.name_bean}Validate() {
        super(JSON_MODEL);
    }

    @Override
    public void iniValidate() {
        super
#foreach($field in $fields1)
 #if($field.v_check!='')
                .put("$field.c_name",$field.v_regex, $field.v_errormsg, $field.v_check)//$field.c_remarks
 #end
#end
;
    }

    @Override
    public ValidateResultModel recheck(JWeb jw, Map<String, ValidateFieldModel> map, ValidateResultModel vr) {
        return vr;
    }

}