#set($D='$')##表示美元协定整个项目都表示这个意思
#set($NyJSFilePath_Add="${D}{path_home}/${bean.path_js_user}/${bean.js_name_add}.js")##添加页面 引用的js文件路径-项目模板下通用
#set($NyJSFilePath_Edit="${D}{path_home}/${bean.path_js_user}/${bean.js_name_update}.js")##修改页面 引用的js文件路径-项目模板下通用
#set($NyJSFilePath_List="${D}{path_home}/${bean.path_js_user}/${bean.js_name_list}.js")##列表页面 引用的js文件路径-项目模板下通用
#set($MyStyle='')##是否启用了单据状态
#set($MyStyleName='')##单据状态名
#set($MyStyle_getMethod='')##单据状态-get方法
#set($MyStyle_setMethod='')##单据状态-set方法
#set($MyTreeMenuID="divID_Tree_menu_${bean.name_bean}")##放树菜单的div域
#set($MyFormID="${bean.name_bean}FormID")##表单的ID
#set($treeMyid='')
#set($treeMyid_getMethod='')
#set($treeMyid_setMethod='')
#set($treeMypid='')
#set($treeMyid_getMethod='')
#set($treeMyid_setMethod='')
#set($treeMyname='')
#set($treeMyname_getMethod='')
#set($treeMyname_setMethod='')
#set($MyFileOrImg='')
#foreach($field in ${fields})
#if(${field.tree}=='id')
#set($treeMyid="${field.c_name}")
#set($treeMyid_getMethod="${field.c_method_get}")
#set($treeMyid_setMethod="${field.c_method_set}")
#elseif(${field.tree}=='pid')
#set($treeMypid="${field.c_name}")
#set($treeMypid_getMethod="${field.c_method_get}")
#set($treeMypid_setMethod="${field.c_method_set}")
#elseif(${field.tree}=='name')
#set($treeMyname="${field.c_name}")
#set($treeMyname_getMethod="${field.c_method_get}")
#set($treeMyname_setMethod="${field.c_method_set}")
#elseif(${field.style}=='true')##是否启用了单据状态
#set($MyStyle='true')##是
#set($MyStyleName="${field.c_name}")
#set($MyStyle_getMethod="${field.c_method_get}")
#set($MyStyle_setMethod="${field.c_method_set}")        
#elseif($field.h_type=='img'||$field.h_type=='file'||$field.h_type=='imgs'||$field.h_type=='files')##是否有文件上传
#set($MyFileOrImg='true')##是
#end
#end
<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!--后台UI组件Start-->
<!DOCTYPE html>
<html>
    <head>
        <title>添加${bean.bean_bz}</title>
        <script type="text/javascript" src="${NyJSFilePath_Add}"></script>
        <%@include file="/WEB-INF/jspf/easyuiLocal.jspf"%>
        <%@include file="/WEB-INF/jspf/artDialog.jspf"%>
        <%@include file="/WEB-INF/jspf/ztree.jspf"%>
        <%@include file="/WEB-INF/jspf/GG.jspf"%>
#if($MyFileOrImg=='true')
        <link rel="stylesheet" type="text/css" href="$D{path_home}/lib/webuploader/0.1.5/webuploader.css">
        <script type="text/javascript" src="$D{path_home}/lib/webuploader/0.1.5/webuploader.min.js"></script> 
        <script type="text/javascript" src="$D{path_home}/lib/webuploader/webuploader.js"></script> 
#end
        <script>
            $D(function () {
                inidoAdd();
#foreach($field in $fields)
#if($field.h_type=='img')
                upOneImgByAotu('${D}{path_home}${bean.request_url}/up/img.jw', '#${field.c_name}_choose', function (file, res) {
                    $('#${field.c_name}').val(res.path_fileName);
                    $('#${field.c_name}FN').textbox('setValue',res.fileName);    
                });
#elseif($field.h_type=='file')
                upOneImgByAotu('${D}{path_home}${bean.request_url}/up/file.jw', '#${field.c_name}_choose', function (file, res) {
                    $('#${field.c_name}').val(res.path_fileName);
                    $('#${field.c_name}FN').textbox('setValue',res.fileName);    
                });                
#end
#end                
            });
        </script>
        <style>
            .row-fluid{
                margin: 10px;
            }
            .row-fluid input{
                height: 40px;
                width: 660px;
            }
            .row-fluid textarea{
                width: 660px;
            }
            .myname{
                display:block;
                width: 660px;
                background-color: #ebfceb
            }
        </style>  
    </head>
    <body class="easyui-layout">
        <div data-options="region:'west',split:true,title:''" style="width:250px;padding:10px;">
            <div id="${MyTreeMenuID}" class="ztree">bean</div>
        </div>
        <div data-options="region:'center'" id='centerMain'>
#foreach($field in $fields)
#if($field.h_hidden=='true')##是否主键类的字段
                    <input type="hidden" id="${field.c_name}" name="${field.c_name}" value="">
#elseif($field.style=='true')##启用了单据管理。默认值是0。紧起过过滤器作用。添加操作-后台方法里，锁定set为0。所以此值不会被改
                    <input type="hidden" id="${field.c_name}" name="${field.c_name}" value="0">
#end
#end

<div class="container"  id="${MyFormID}">
                <div class="row-fluid">
                    <div class="span12">
                        <a href="javascript:void(0)" class="btn btn-default btn-large" onclick="clearForm()">清空</a>
                        <a href="javascript:void(0)" class="btn btn-primary btn-large" onclick="submitForm('BMFormID')">保存</a>
                    </div>
                </div>
               <div class="row-fluid">
                    <div class="span12">
                        <span class="myname" >上级</span>
                        <input type="text" id="${treeMypid}_mc" name="${treeMypid}_mc" readonly="true" class="easyui-textbox">
                    </div>
                </div>
#set($mustcheck='')
#foreach($field in $fields)
#if($field.tree!='id'&&$field.tree!='pid'&&$field.v_check!=''&&$field.h_hidden!='true'&&$field.style!='true')
#if($field.v_check!='')##开始：是否执行查检
 #set($mustcheck="required:${field.v_check}")
#else
  #set($mustcheck="required:false")
#end##结束：是否执行查检
#if($field.h_hidden!='true')## 非主键类的
#if($field.c_dateformat!='')##日期或时间
                <div class="row-fluid">
                    <div class="span12">
                        <span class="myname" >${field.c_remarks}</span>
                        <input class="easyui-datebox" type="text"  id="${field.c_name}" name="${field.c_name}" data-options="${mustcheck},formatter:easyuidateformatter,parser:easyuidateparser"/>
                    </div>
                </div>
#elseif($field.h_type=='textarea')##文本域类的
                <div class="row-fluid">
                    <div class="span12">
                        <span class="myname" >${field.c_remarks}</span>
                        <textarea rows=5  class="textarea easyui-validatebox" id="${field.c_name}" name="${field.c_name}" data-options="${mustcheck}"></textarea>
                    </div>
                </div>
#elseif($field.h_type=='img'||$field.h_type=='file')##图片类
                <div class="row-fluid">
                    <div class="span12">
                        <span class="myname">
                            <div id="${field.c_name}_choose">${field.c_remarks}<input type="hidden"  id="${field.c_name}" /></div>
                        </span>
                        <div id="${field.c_name}uploader">
                            <div id="thelist" class="uploader-list"></div>
                            <input type="text" id="${field.c_name}FN"  readonly="true" class="easyui-textbox">
                        </div>
                    </div>
                </div>
##其他的类型拓展
#else
                <div class="row-fluid">
                    <div class="span12">
                        <span class="myname" >${field.c_remarks}</span>
                        <input type="text"  id="${field.c_name}" name="${field.c_name}" data-options="${mustcheck}" class="easyui-textbox"/>
                    </div>
                </div>
#end
#end
#end
#end
            </div>
        </div>
    </body>
</html>
