#set($D='$')##表示美元协定整个项目都表示这个意思
#set($MyID_t_name='')
#set($MyID_c_name='')
#set($MyID_t_type='')
#set($MyID_m_type='')
#set($MyID_remarks='')
#set($myBeanName_param="$bean.bean_mc.substring(0,1).toLowerCase()$bean.bean_mc.substring(1,$bean.bean_mc.length())")
#foreach($field in ${fields})
#if(${field.t_index}=='PRIMARY KEY')
#set($MyID_t_name="${field.t_name}")
#set($MyID_c_name="${field.c_name}")
#set($MyID_t_type="${field.t_type}")
#set($MyID_m_type="${field.m_type}")
#set($MyID_remarks="${field.c_remarks}")        
#end
#end
package ${bean.package_service};

import ${bean.package_bean}.${bean.name_bean};
import ${bean.package_dao}.${bean.name_dao};
import hk.advanpro.spring.web.support.RestfulPageResult;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.transaction.annotation.Transactional;

import java.util.ArrayList;
import java.util.List;
import java.util.Optional;

import static hk.advanpro.spring.utils.ThreadLocalUtils.fillCreator;
import static hk.advanpro.spring.utils.ThreadLocalUtils.fillModifier;

@Service
@Transactional
public class ${bean.name_service} {
    @Autowired
    private ${bean.name_dao} ${bean.ioc_dao};

    
//添加区↓

    /**
     * ${bean.bean_bz}:添加一条记录
     * @param ${myBeanName_param} ${bean.name_bean}实例
     */
    public void save(${bean.name_bean} ${myBeanName_param}){
        ${bean.ioc_dao}.save(${myBeanName_param});
    }

//添加区↑
//删除区↓

    /**
     * ${bean.bean_bz}:删除一条记录
     * @param ${MyID_c_name} ${bean.name_bean}关联表主键的值
     */
    public void delete(@Param("${MyID_c_name}") ${MyID_c_type} ${MyID_c_name}){
        ${bean.ioc_dao}.delete(${MyID_c_name});
    }

//删除区↑
//更新区↓

    /**
     * ${bean.bean_bz}:修改一条记录
     * @param ${myBeanName_param} ${bean.name_bean}关联表的实例
     */
    void updateBase(${bean.name_bean} ${myBeanName_param}){
        fillModifier(spuProduct);
        ${bean.ioc_dao}.updateBase(${myBeanName_param});
    }

    /**
     * ${bean.bean_bz}:修改状态
     * @param ${myBeanName_param} ${bean.name_bean}关联表的实例
     */
    void updateStatus(${bean.name_bean} ${myBeanName_param})
       void updateBase(${bean.name_bean} ${myBeanName_param}){
        fillModifier(spuProduct);
        ${bean.ioc_dao}.updateBase(${myBeanName_param});
    }

//更新区↑ 
//查询区↓

    /**
     * ${bean.bean_bz}：获取一条记录(根据ID)
     *
     * @param ${MyID_c_name} ${bean.name_bean}关联表主键的值
     * @return ${bean.name_bean}实例
     */
    ${bean.name_bean} get(@Param("${MyID_c_name}") ${MyID_c_type} ${MyID_c_name});

    /**
     * ${bean.bean_bz}：获取列表
     * @param condition 条件-字符串
     * @return List ${bean.name_bean}集合
     */
    List findByCondition(@Param("condition") String condition);

    /**
     * ${bean.bean_bz}： 获取总数
     * @param condition 条件-字符串
     * @return long
     */
    long getCountByCondition(@Param("condition") String condition);

//查询区↑


}
