#set($D='$')##表示美元协定整个项目都表示这个意思
##后台请求-添加
#set($MyRequest_Add="${bean.request_url}${bean.request_url_add}.jw")
##后台请求-删除
#set($MyRequest_Dell="${bean.request_url}${bean.request_url_dell}.jw")
##后台请求-修改
#set($MyRequest_Edit="${bean.request_url}${bean.request_url_update}.jw")
#set($MyRequest_Edit_Select="${bean.request_url}${bean.request_url_update}/select.jw")##查询修改的记录
##后台请求-修改-单据状态操作
#set($MyRequest_Edit_Examine="${bean.request_url}${bean.request_url_update}/examine.jw")##审核
#set($MyRequest_Edit_Unexamine="${bean.request_url}${bean.request_url_update}/unexamine.jw")##反审核
#set($MyRequest_Edit_Void="${bean.request_url}${bean.request_url_update}/void.jw")##作废
#set($MyRequest_Edit_Unvoid="${bean.request_url}${bean.request_url_update}/unvoid.jw")##反作废
##后台请求-查询
#set($MyRequest_Select_Json="${bean.request_url}${bean.request_url_select}/json.jw")##
#set($MyRequest_Select_Grid="${bean.request_url}${bean.request_url_select}/grid.jw")##
#set($MyRequest_Select_One="${bean.request_url}${bean.request_url_select}/selectOne.jw")##查询一条记录
##前端相关
#set($MyTreeMenuID="divID_Tree_menu_${bean.name_bean}")##放树菜单的div域
#set($MyFormID="${bean.name_bean}FormID")##表单的ID
#set($DYH='''')
#set($MyStyle='')##是否启用了单据状态
#set($MyStyleName='')##单据状态名
#set($MyStyle_getMethod='')##单据状态-get方法
#set($MyStyle_setMethod='')##单据状态-set方法
#set($MyPXName='')##排序
#set($MyPX_getMethod='')##排序-get方法
#set($MyPX_setMethod='')##排序-set方法
#set($myid='')##1方主键
#set($myid_getMethod='')
#set($myid_setMethod='')
#set($MyImgOne='')
#set($MyFileOne='')
#set($MyImportType_Date='')
#foreach($field in ${fields})
#if($field.c_type=='Date')
#set($MyImportType_Date="import java.util.Date;")
#end
#if(${field.t_index}=='PRIMARY KEY')
#set($myid="${field.c_name}")
#set($myid_getMethod="${field.c_method_get}")
#set($myid_setMethod="${field.c_method_set}")
#elseif(${field.style}=='true')##是否启用了单据状态
#set($MyStyle='true')##是
#set($MyStyleName="${field.c_name}")
#set($MyStyle_getMethod="${field.c_method_get}")
#set($MyStyle_setMethod="${field.c_method_set}")
#elseif(${field.style}=='px')##是否启用排序
#set($MyPXName="${field.c_name}")
#set($MyPX_getMethod="${field.c_method_get}")
#set($MyPX_setMethod="${field.c_method_set}")
#elseif($field.h_type=='img')##是否有图片上传
#set($MyImgOne='true')##是
#elseif($field.h_type=='file')##是否有文件上传
#set($MyFileOne='true')##是
#end
#end
function f_gridMenu(e, rowIndex, rowData) {         //右击事件
    $('#menu').menu('show', {
        left: e.pageX, //弹出窗口的方位坐标
        top: e.pageY
    });
    e.preventDefault();         //阻止浏览器自带的右键菜单弹出
}
function dellRow() {
    var rows = $('#dg').datagrid('getSelections');
    if (!rows[0]) {
        $.messager.alert('提示', '请选择行');
        return;
    } 
#if($MyStyleName!='')##表示启用了单据状态管理
    else if (rows[0].${MyStyleName} != '0') {
        $.messager.alert('异常', '单据锁定，无法删除');
        return;
    }
#end
    easyuiAjax("${MyRequest_Dell}", {id: rows[0].${myid}}, "请确认删除操作", function () {
        easyuiGridReload('dg')
    });
}
function updateRow() {
    var rows = $('#dg').datagrid('getSelections');
    if (!rows[0]) {
        $.messager.alert('提示', '请选择行');
        return;
    } 
#if($MyStyleName!='')##表示启用了单据状态管理
    else if (rows[0].${MyStyleName} != '0') {
        $.messager.alert('异常', '单据锁定，无法修改');
        return;
    }
#end
    easyuiLoadWindowByURL('showUpdatePage', '修改', '${MyRequest_Edit_Select}?id=' + rows[0].${myid});
}

function seeRow() {
    var rows = $('#dg').datagrid('getSelections');
    if (!rows[0]) {
        $.messager.alert('提示', '请选择行');
        return;
    }
    easyuiLoadWindowByURL('showSeeOnePage', '明细', '${MyRequest_Select_One}?id=' + rows[0].${myid});
}

#if($MyStyleName!='')##表示启用了单据状态管理
//-------------------------单据状态管理-------------------------                
function update01() {//审核
    var rows = $('#dg').datagrid('getSelections');
    if (!rows[0]) {
        $.messager.alert('提示', '请选择行');
        return;
    }
    easyuiAjax("${MyRequest_Edit_Examine}", {ids: easyuiGetRowsID(rows, '${myid}')}, "请确认审核操作", function () {
        easyuiGridReload('dg')
    });
}
function update10() {//反审核
    var rows = $('#dg').datagrid('getSelections');
    if (!rows[0]) {
        $.messager.alert('提示', '请选择行');
        return;
    }
    easyuiAjax("${MyRequest_Edit_Unexamine}", {ids: easyuiGetRowsID(rows, '${myid}')}, "请确认反审核操作", function () {
        easyuiGridReload('dg')
    });
}
function update04() {//作废
    var rows = $('#dg').datagrid('getSelections');
    if (!rows[0]) {
        $.messager.alert('提示', '请选择行');
        return;
    }
    easyuiAjax("${MyRequest_Edit_Void}", {ids: easyuiGetRowsID(rows, '${myid}')}, "请确认作废操作", function () {
        easyuiGridReload('dg')
    });
}
function update40() {//反作废
    var rows = $('#dg').datagrid('getSelections');
    if (!rows[0]) {
        $.messager.alert('提示', '请选择行');
        return;
    }
    easyuiAjax("${MyRequest_Edit_Unvoid}", {ids: easyuiGetRowsID(rows, '${myid}')}, "请确认反作废操作", function () {
        easyuiGridReload('dg')
    });
}
#end
//-------------------------子页面调用方法-------------------------                
function closethisWindow() {
    $('#showUpdatePage').panel('close');
}
function closethisWindowSeeOne() {
    $('#showSeeOnePage').panel('close');
}
/**
 * 过滤条件
 * @returns {void}
 */
function f_condition() {
    $('#showConditionPage').panel({title: '过滤条件'});
    $('#showConditionPage').window('open');
    easyuiLoadWindowByURL('showConditionPage', '过滤条件', '/xt/xttiaojian/ry_tiaojian.jsp?key=${bean.name_bean}');
}
function f_closeCondition() {
    $('#showConditionPage').panel('close');
}
function f_queryByCondition(jsonData) {
    $('#showConditionPage').panel('close');
    var queryParams = $('#dg').datagrid('options').queryParams;
    queryParams.key =jsonData;
    $('#dg').datagrid('reload');
}