#set($mytestDEV='//')
#set($DYH='''')
#set($MyStyle='')##是否启用了单据状态
#set($MyStyleName='')##单据状态名
#set($MyStyle_getMethod='')##单据状态-get方法
#set($MyStyle_setMethod='')##单据状态-set方法
#set($MyPXName='')##排序
#set($MyPX_getMethod='')##排序-get方法
#set($MyPX_setMethod='')##排序-set方法
#set($myid='')##1方主键
#set($myid_getMethod='')
#set($myid_setMethod='')
#set($myid2='')##多方主键
#set($myid2_getMethod='')
#set($myid2_setMethod='')
#set($MyImgOne='')
#set($MyFileOne='')
#set($MyImportType_Date='')
#foreach($field in ${fields})
#if($field.c_type=='Date')
#set($MyImportType_Date="import java.util.Date;")
#end
#if(${field.t_index}=='PRIMARY KEY')
#set($myid="${field.c_name}")
#set($myid_getMethod="${field.c_method_get}")
#set($myid_setMethod="${field.c_method_set}")
#elseif(${field.style}=='true')##是否启用了单据状态
#set($MyStyle='true')##是
#set($MyStyleName="${field.c_name}")
#set($MyStyle_getMethod="${field.c_method_get}")
#set($MyStyle_setMethod="${field.c_method_set}")
#elseif(${field.style}=='px')##是否启用排序
#set($MyPXName="${field.c_name}")
#set($MyPX_getMethod="${field.c_method_get}")
#set($MyPX_setMethod="${field.c_method_set}")
#elseif($field.h_type=='img')##是否有图片上传
#set($MyImgOne='true')##是
#elseif($field.h_type=='file')##是否有文件上传
#set($MyFileOne='true')##是
#end
#end
#foreach($field in ${fields1})
#if(${field.t_index}=='PRIMARY KEY')
#set($myid2="${field.c_name}")
#set($myid2_getMethod="${field.c_method_get}")
#set($myid2_setMethod="${field.c_method_set}")
#end
#end
package ${bean.package_hm};

import configuration.Page;
import system.base.annotation.H;
import system.base.annotation.M;
import system.base.annotation.Validate;
import system.web.JWeb;
import configuration.MsgVO;
import java.util.List;
import configuration.WebConfigModel;
import configuration.Tool;
import plugins.easyui.EasyuiService;
#if($MyImportType_Date!='')$MyImportType_Date#end
import ${bean.package_bean}.${bean.name_bean};
import ${bean1.package_bean}.${bean1.name_bean};
import ${bean.package_service}.${bean.name_service};


/**
*1.添加请求路径：${bean.request_url}${bean.request_url_add}.jw <br>
*2.删除请求路径（传参：id）：${bean.request_url}${bean.request_url_dell}.jw <br>
*3.修改 <br>
*   3.1变更请求路径：${bean.request_url}${bean.request_url_update}.jw <br>
*   3.2查询请求路径(通过表头主键id，请求表头数据)：${bean.request_url}${bean.request_url_update}/select.jw <br>
*   3.3查询请求路径：${bean.request_url}${bean.request_url_update}/select/grid.jw <br>
*4.查询 <br>
*   4.1全部请求路径（对象实例。通过主键传参：id）：${bean.request_url}${bean.request_url_select}/selectOne.jw <br>
*   4.2全部请求路径（分页查询-JSON格式）：${bean.request_url}${bean.request_url_select}/json.jw <br>
*   4.3全部请求路径（分页查询-GRID格式）：${bean.request_url}${bean.request_url_select}/grid.jw <br>
*   4.3全部请求路径(通过表体主键id，请求表体一条记录)：${bean.request_url}${bean.request_url_select}/selectOne/body.jw <br>
*   4.4全部请求路径(修改与查询明细共用。通过表头主键传参pid，请求表体关联的数据)：${bean.request_url}${bean.request_url_select}/selectOne/bodyJSON.jw <br>
*   4.5全部请求路径(修改与查询明细共用。通过表头主键传参pid，请求表体关联的数据)：${bean.request_url}${bean.request_url_select}/selectOne/bodyGrid.jw <br>
#if($MyStyleName!='')##表示启用了单据状态管理 <br>
*5.单据状态管理 <br>
*   5.1审核请求路径   ：${bean.request_url}${bean.request_url_update}/examine.jw <br>
*   5.2反审核请求路径 ：${bean.request_url}${bean.request_url_update}/unexamine.jw <br>
*   5.3作废请求路径   ：${bean.request_url}${bean.request_url_update}/void.jw <br>
*   5.4反作废请求路径 ：${bean.request_url}${bean.request_url_update}/unvoid.jw <br>
#end
#if($MyImgOne!=''||$MyFileOne!='')
*6.上传管理 <br>
#if($MyImgOne!='')
*   6.1图片上传请求路径   ：${bean.request_url}/up/img.jw <br>
#end
#if($MyFileOne!='')
*   6.2文件上传请求路径   ：${bean.request_url}/up/file.jw <br>
#end
#end
*/
@H("${bean.request_url}")
public class ${bean.name_hm} {

    JWeb jw;

    public ${bean.name_hm}(JWeb jw) {
        this.jw = jw;
    }
//===================添加操作=============================    
    $mytestDEV@system.web.power.ann.SQ("${bean.power_add}")
    @M("${bean.request_url_add}")
    @Validate({${bean.package_validate}.${bean.name_validate}.class,${bean1.package_validate}.${bean1.name_validate}.class})
    public void add() {
        ${bean.name_bean} obj = jw.getObject(${bean.name_bean}.class);
        List<${bean1.name_bean}> obj2 = (List<${bean1.name_bean}>) jw.request.getAttribute(WebConfigModel.JSONKEY);
        jw.printOne(${bean.name_service}.addOne(obj, obj2));        
    }
//===================删除操作=============================    
    $mytestDEV@system.web.power.ann.SQ("${bean.power_dell}")
    @M("${bean.request_url_dell}")
    public void dellVast() {
        String id = jw.getString("id");
        if (null == id || id.length() < 24) {
            return;
        }
        jw.printOne(${bean.name_service}.dellVast(id));
    }
//===================修改操作=============================    
    $mytestDEV@system.web.power.ann.SQ("${bean.power_update}")
    @M("${bean.request_url_update}")
    @Validate(${bean.package_validate}.${bean.name_validate}.class)
	public void update() {
		${bean.name_bean} obj = jw.getObject(${bean.name_bean}.class);
        List<${bean1.name_bean}> obj2 = (List<${bean1.name_bean}>) jw.request.getAttribute(WebConfigModel.JSONKEY);
        for (${bean1.name_bean} o2 : obj2) {
            o2.${myid_setMethod}(obj.${myid_getMethod}());//锁定表头主键
        }
        jw.printOne(${bean.name_service}.update(obj,obj2));
	}
    $mytestDEV@system.web.power.ann.SQ("${bean.power_update}")
    @M("${bean.request_url_update}/select")
	public void updateSelect() {
		String id = jw.getString("id");
		${bean.name_bean} obj = ${bean.name_service}.selectOne(id);
		if (null == obj.${myid_getMethod}())
			return;
		jw.request.setAttribute("${bean.name_bean}", obj);
		jw.forward("/${bean.path_userpage_admin}/${bean.page_name_update}.jsp");
	}
//===================查询操作=============================
    //=========表头查询操作===========

   $mytestDEV@system.web.power.ann.SQ("${bean.power_select}") 
    @M("${bean.request_url_select}/selectOne")//针对表头的查询-一条记录的明细
	public void selectOne() {
		String id = jw.getString("id");
		${bean.name_bean} obj = ${bean.name_service}.selectOne(id);
		if (null == obj.${myid_getMethod}())
			return;
		jw.request.setAttribute("${bean.name_bean}", obj);
		jw.forward("/${bean.path_userpage_admin}/one.jsp");
	}

   $mytestDEV@system.web.power.ann.SQ("${bean.power_select}")
    @M("${bean.request_url_select}/json")//针对表头的查询-返回json数据
    public static void selectJSON(JWeb jw) {
        String condition = "";
        Page page = EasyuiService.getPageAndOrderby(jw);
        jw.printOne(Tool.entityToJSON(DanjuService.select(page.getPage(), page.getRows(), condition, page.getOrderBy())));
    }
   $mytestDEV@system.web.power.ann.SQ("${bean.power_select}")
    @M("${bean.request_url_select}/grid")//针对表头的查询-返回Grid数据
    public static void selectGrid(JWeb jw) {
        String condition = "";
        Page page = EasyuiService.getPageAndOrderby(jw);
        jw.printOne(EasyuiService.formatGrid(${bean.name_service}.select(page.getPage(), page.getRows(), condition, page.getOrderBy())));
    }

    //=========表体查询操作===========

  @M("${bean.request_url_select}/selectOne/body")//针对表体的查询-一条记录的明细
    public void selectOneBody() {
        String id = jw.getString("id");
        ${bean1.name_bean} obj = ${bean.name_service}.selectOne2(id);
        if (null == obj.getDanju_zj()) {
            jw.printOne("{}");
            return;
        }
        jw.printOne(obj);
    }
    $mytestDEV@system.web.power.ann.SQ("${bean.power_update}")
    @M("${bean.request_url_select}/selectOne/bodyJSON")
	public void selectOneBodyJSON() {//针对表体的查询
		String id = jw.getString("pid");
		jw.printOne(Tool.entityToJSON(${bean.name_service}.select2(id)));
	}    
    $mytestDEV@system.web.power.ann.SQ("${bean.power_update}")
    @M("${bean.request_url_select}/selectOne/bodyGrid")
	public void selectOneBodyGrid() {//针对表体的查询
		String id = jw.getString("pid");
		jw.printOne(EasyuiService.formatGrid(${bean.name_service}.select2(id)));
	}
    
#if($MyStyleName!='')##表示启用了单据状态管理
//---------------------------------------单据状态管理---------------------------------------
    @M("${bean.request_url_update}/examine")//审核单据
    public void examine() {
        jw.printOne(${bean.name_service}.updateStyle_examine(jw.getString("ids")));
    }

    @M("${bean.request_url_update}/unexamine")//反审核
    public void unexamine() {
        jw.printOne(${bean.name_service}.updateStyle_unExamine(jw.getString("ids")));
    }

    @M("${bean.request_url_update}/void")//作废
    public void tovoid() {
        jw.printOne(${bean.name_service}.updateStyle_void(jw.getString("ids")));
    }

    @M("${bean.request_url_update}/unvoid")//反作废
    public void untovoid() {
        jw.printOne(${bean.name_service}.updateStyle_unVoid(jw.getString("ids")));
    }
#end

#if($MyFileOne!=''||$MyImgOne!='')
//---------------------------------------文件图片管理---------------------------------------
#if($MyImgOne!='')
    $mytestDEV@system.web.power.ann.SQ("${bean.power_add}")
    @M("/up/img")//图片上传
    public void upimg() {
        jw.printOne(${bean.name_service}.upOneImg(jw.request));
    }
#end
#if($MyFileOne!='')
    $mytestDEV@system.web.power.ann.SQ("${bean.power_add}")
    @M("/up/file")//文件上传
    public void upfile() {
        jw.printOne(${bean.name_service}.upOneFile(jw.request));
    }
#end
#end
}
