#set($D='$')##表示美元协定整个项目都表示这个意思
#set($NyJSFilePath_Add="${D}{path_home}/${bean.path_js_user}/${bean.js_name_add}.js")##添加页面 引用的js文件路径-项目模板下通用
#set($NyJSFilePath_Edit="${D}{path_home}/${bean.path_js_user}/${bean.js_name_update}.js")##修改页面 引用的js文件路径-项目模板下通用
#set($NyJSFilePath_List="${D}{path_home}/${bean.path_js_user}/${bean.js_name_list}.js")##列表页面 引用的js文件路径-项目模板下通用
#set($MyURL_Update="${bean.request_url}${bean.request_url_update}.jw")
#set($MyStyle='')##是否启用了单据状态
#set($MyStyleName='')##单据状态名
#set($MyStyle_getMethod='')##单据状态-get方法
#set($MyStyle_setMethod='')##单据状态-set方法
#set($MyPXName='')##排序
#set($MyPX_getMethod='')##排序-get方法
#set($MyPX_setMethod='')##排序-set方法
#set($myid='')##1方主键
#set($myid_getMethod='')
#set($myid_setMethod='')
#set($myid2='')##多方主键
#set($myid2_getMethod='')
#set($myid2_setMethod='')
#set($MyImgOne='')
#set($MyFileOne='')
#set($MyFileOrImg='')
#set($MyFormID="${bean.name_bean}FormID")##表单的ID
#foreach($field in ${fields})
#if(${field.t_index}=='PRIMARY KEY')
#set($myid="${field.c_name}")
#set($myid_getMethod="${field.c_method_get}")
#set($myid_setMethod="${field.c_method_set}")
#elseif(${field.style}=='true')##是否启用了单据状态
#set($MyStyle='true')##是
#set($MyStyleName="${field.c_name}")
#set($MyStyle_getMethod="${field.c_method_get}")
#set($MyStyle_setMethod="${field.c_method_set}")
#elseif(${field.style}=='px')##是否启用排序
#set($MyPXName="${field.c_name}")
#set($MyPX_getMethod="${field.c_method_get}")
#set($MyPX_setMethod="${field.c_method_set}")
#elseif($field.h_type=='img')##是否有图片上传
#set($MyImgOne='true')##是
#elseif($field.h_type=='file')##是否有文件上传
#set($MyFileOne='true')##是    
#elseif($field.h_type=='img'||$field.h_type=='file'||$field.h_type=='imgs'||$field.h_type=='files')##是否有文件上传
#set($MyFileOrImg='true')##是
#end
#end
#foreach($field in ${fields1})
#if(${field.t_index}=='PRIMARY KEY')
#set($myid2="${field.c_name}")
#set($myid2_getMethod="${field.c_method_get}")
#set($myid2_setMethod="${field.c_method_set}")
#end
#end
//页面文档加载完后-调用此函数。
//需要初始化的，统一放到此函数来
//初始化
function inido() {

}
var close = false;
function closeMySelf() {
    if (!close) {
        $.messager.confirm('请确认', "单据还没保存，是否关闭此页面?", function (r) {
            if (r) {
                window.parent.closethisWindow();
            }
        });
    } else {
        window.parent.closethisWindow();
    }
}
//提交表单
function submitForm(formid) {
    var vcheck = $('#'+formid).form('enableValidation').form('validate');
    if (vcheck) {
        close=true;
        $("#dg").datagrid('endEdit', getIndex());
        var datas = $('#dg').datagrid('getData');
        var rs = "";
        for (var i = 0; i < datas.total; i++) {
            //if (datas.rows[i].xx) //假设哪例不为空的情况下，才算进记录中，需要人为二次调整与判断
                rs = rs + getJsonByBody(datas.rows[i], i == 0 ? null : ",");
        }
        var data = {};
        data.${Myid} = $('#${Myid}').val()//主键
#foreach($field in $fields)##一方的字段值
#if($field.t_index!='PRIMARY KEY')
            data.${field.c_name} = $('#${field.c_name}').val() //${field.c_remarks}
#end
#end            
        data.jsonkey = rs ? "[" + rs + "]" : "";
        easyuiAjax("${MyURL_Update}", data, "请确认修改操作", function () {
            //回调函数
        });
    }
    function getJsonByBody(obj, fh) {
        if (!obj)
            return "";
        var str = (fh ? fh : "") + '{'
#foreach($field in $fields1)##多方的字段值
#if($foreach.count==1)##第一次
                + '"${field.c_name}":"' + toFormatZT(obj.${field.c_name}) + '"' //${field.c_remarks}
#else##之后的
                + ',"${field.c_name}":"' + toFormatZT(obj.${field.c_name}) + '"' //${field.c_remarks}
#end
#end 
        return str + "}";
    }
}

function getIndex() {
    var row = $("#dg").datagrid('getSelected');
    return row ? $("#dg").datagrid('getRowIndex', row) : 0;
}
function dellRow() {
    var index =getIndex()
    $("#dg").datagrid('deleteRow', index)
    if (editIndex) {
        $('#dg').datagrid('endEdit', editIndex);
        editIndex = undefined;
    }
}
function addRow() {
    var index = getIndex();
    $("#dg").datagrid('insertRow', {
        index: (++index),
        row: {}
    });
}
function MoveUp() {
    var index =getIndex()
    mysort(index, 'up', 'dg');
}
//下移
function MoveDown() {
    var index = getIndex()
    mysort(index, 'down', 'dg');
}
function mysort(index, type, gridname) {
    $("#dg").datagrid('endEdit', index);
    if ("up" == type) {
        if (index != 0) {
            var toup = $('#' + gridname).datagrid('getData').rows[index];
            var todown = $('#' + gridname).datagrid('getData').rows[index - 1];
            $('#' + gridname).datagrid('getData').rows[index] = todown;
            $('#' + gridname).datagrid('getData').rows[index - 1] = toup;
            $('#' + gridname).datagrid('refreshRow', index);
            $('#' + gridname).datagrid('refreshRow', index - 1);
            $('#' + gridname).datagrid('selectRow', index - 1);
        }
    } else if ("down" == type) {
        var rows = $('#' + gridname).datagrid('getRows').length;
        if (index != rows - 1) {
            var todown = $('#' + gridname).datagrid('getData').rows[index];
            var toup = $('#' + gridname).datagrid('getData').rows[index + 1];
            $('#' + gridname).datagrid('getData').rows[index + 1] = todown;
            $('#' + gridname).datagrid('getData').rows[index] = toup;
            $('#' + gridname).datagrid('refreshRow', index);
            $('#' + gridname).datagrid('refreshRow', index + 1);
            $('#' + gridname).datagrid('selectRow', index + 1);
        }
    }
}
$.extend($.fn.datagrid.methods, {
    editCell: function (jq, param) {
        return jq.each(function () {
            var opts = $(this).datagrid('options');
            var fields = $(this).datagrid('getColumnFields', true).concat($(this).datagrid('getColumnFields'));
            for (var i = 0; i < fields.length; i++) {
                var col = $(this).datagrid('getColumnOption', fields[i]);
                col.editor1 = col.editor;
                if (fields[i] != param.field) {
                    col.editor = null;
                }
            }
            $(this).datagrid('beginEdit', param.index);
            for (var i = 0; i < fields.length; i++) {
                var col = $(this).datagrid('getColumnOption', fields[i]);
                col.editor = col.editor1;
            }
        });
    }
});

var editIndex = undefined;
function endEditing() {
    if (editIndex == undefined) {
        return true
    }
    if ($('#dg').datagrid('validateRow', editIndex)) {
        $('#dg').datagrid('endEdit', editIndex);
        editIndex = undefined;
        return true;
    } else {
        return false;
    }
}
var i = 1;
function onClickCell(index, field) {
    $('#dg').datagrid('endEdit', editIndex);
    $("#dg").datagrid('beginEdit', index);//{index:index, field: field}
    var ed = $("#dg").datagrid('getEditor', {index: index, field: field});//获取当前编辑器
    $(ed.target).focus();//获取焦点
    //
//                if (endEditing()) {
//                    console.log("doing endEditing()"+(++i))
//                    $('#dg').datagrid('selectRow', index)
//                            .datagrid('editCell', {index: index, field: field});
    editIndex = index;
//                }
}