#set($D='$')##表示美元协定整个项目都表示这个意思
#set($MyID_t_name='')
#set($MyID_c_name='')
#set($MyID_t_type='')
#set($MyID_m_type='')
#set($MyID_remarks='')
#foreach($field in ${fields})
#if(${field.t_index}=='PRIMARY KEY')
#set($MyID_t_name="${field.t_name}")
#set($MyID_c_name="${field.c_name}")
#set($MyID_t_type="${field.t_type}")
#set($MyID_m_type="${field.m_type}")
#set($MyID_remarks="${field.c_remarks}")        
#end
#end
<?xml version="1.0" encoding="UTF-8" ?>
${bean.dtd_mybatis}
<mapper namespace="${bean.namespace_dao_xml}">
    <resultMap id="BaseResultMap" type="${bean.package_bean}.${bean.name_bean}">
        <result column="${MyID_t_name}" property="${MyID_c_name}" jdbcType="${MyID_m_type}"/><!--${MyID_remarks}-->
#foreach($field in ${fields})
#if(${field.t_index}!='PRIMARY KEY')
        <result column="${field.t_name}" property="${field.c_name}" jdbcType="${field.m_type}"/><!--${field.c_remarks}-->
#end
#end
    </resultMap>

<!--*************************************配置区↓***************************************-->
    <!-- 配置：数据库表名称 -->
    <sql id="table">`${bean.db_name_table}`</sql>
    <!-- 配置：数据库表主键字段名称  -->
    <sql id="pk_col">`${bean.db_name_table}`.`${MyID_t_name}`</sql>
    <!-- 配置：实体主键字段 -->
    <sql id="pk_prop">#{${MyID_c_name}}</sql>
    <!-- 配置：基础信息字段 -->
    <sql id="cols">
        <include refid="table"/>.`${MyID_t_name}`, <!--${MyID_remarks}-->    
#foreach($field in ${fields})
#if(${field.t_index}!='PRIMARY KEY')
#if($foreach.count!=$fields.size())
        <include refid="table"/>.`${field.c_name}`,<!--${field.c_remarks}-->
#else
        <include refid="table"/>.`${field.c_name}` <!--${field.c_remarks}-->
#end
#end
#end
    </sql>
    <!-- 配置：基础信息字段 -->
    <sql id="props">
        #{${MyID_c_name}}, <!--${MyID_remarks}-->    
#foreach($field in ${fields})
#if(${field.t_index}!='PRIMARY KEY')
#if($foreach.count!=$fields.size())
         #{${field.c_name}},<!--${field.c_remarks}-->
#else
        #{${field.c_name}} <!--${field.c_remarks}-->
#end
#end
#end
    </sql>
    <!-- 配置：更新基础信息字段-->
    <sql id="update_base">
#foreach($field in ${fields})
#if(${field.t_index}!='PRIMARY KEY')
#if($foreach.count!=$fields.size())
        <include refid="table"/>.`${field.t_name}` = #{${field.c_name}},<!--${field.c_remarks}-->
#else
        <include refid="table"/>.`${field.t_name}` = #{${field.c_name}}<!--${field.c_remarks}-->
#end
#end
#end
    </sql>
    <!-- 配置：更新状态信息字段 -->
    <sql id="update_status">
        <include refid="table"/>.`status` = #{status},
        <include refid="table"/>.`modifier` = #{modifier},
        <include refid="table"/>.`modifier_name` = #{modifierName},
        <include refid="table"/>.`modify_time` = #{modifyTime}
    </sql>
<!--*************************************配置区↑***************************************-->
<!--*************************************添加区↓***************************************-->
    <!--${bean.bean_bz}:保存一条记录-->
    <insert id="save" parameterType="${bean.package_bean}.${bean.name_bean}" keyProperty="${MyID_t_name}">
        <selectKey keyProperty="${MyID_t_name}" order="BEFORE" resultType="java.lang.Long">
            select gen_ticket64() as ticket
        </selectKey>
        INSERT INTO
        <include refid="table"/>
        (<include refid="cols"/>)
        VALUES (<include refid="props"/>)
    </insert>
<!--*************************************添加区↑***************************************-->
<!--*************************************删除区↓***************************************-->
    <!--${bean.bean_bz}:删除一条记录（根据主键）-->
    <delete id="delete">
        DELETE FROM
        <include refid="table"/>
        WHERE
        <include refid="pk_col"/>
        =
        <include refid="pk_prop"/>
    </delete>
<!--*************************************删除区↑***************************************-->
<!--*************************************更新区↓***************************************-->
    <!--${bean.bean_bz}:更新基础资料-->
    <update id="updateBase">
        update
        <include refid="table"/>
        set
        <include refid="update_status"/>
        where
        <include refid="pk_col"/>
        =
        <include refid="pk_prop"/>
    </update>
    <!--${bean.bean_bz}:更新状态-->
    <update id="updateStatus">
        update
        <include refid="table"/>
        set
        <include refid="update_status"/>
        where
        <include refid="pk_col"/>
        =
        <include refid="pk_prop"/>
    </update>
<!--*************************************更新区↑***************************************-->
<!--*************************************查询区↓***************************************-->    
    <!--${bean.bean_bz}:获取一条记录-->
    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="cols"/>
        FROM
        <include refid="table"/>
        where
        <include refid="pk_col"/>
        =
        <include refid="pk_prop"/>
    </select>
    <!--${bean.bean_bz}:获取多条记录-->
    <select id="findByCondition" resultMap="BaseResultMap">
        select
        <include refid="cols"/>
        FROM
        <include refid="table"/>
        where 1=1 #{condition}
    </select>
<!--*************************************查询区↑***************************************-->  
</mapper>