#set($MyIsolationName='')##隔离标识
#set($MyIsolation_getMethod='')##隔离标识-get方法
#set($MyIsolation_setMethod='')##隔离标识-set方法

#elseif(${field.style}=='isolation')##是否启用隔离标识
#set($MyIsolationName="${field.c_name}")
#set($MyIsolation_getMethod="${field.c_method_get}")
#set($MyIsolation_setMethod="${field.c_method_set}")